.compounding-staker-deposit {
  padding: 1em;
}

.compounding-staker-deposit .input-group-text.prefix img {
  height: 24px;
}

.compounding-staker-deposit .balance img {
  height: 24px;
  vertical-align: -6px;
  margin-right: 5px;
}

.compounding-staker-deposit .info img {
  height: 24px;
  vertical-align: -6px;
}
