.rarihackredeem {
  
}
.rarihackredeem .error {
  color: #D32F2F;
}
.rarihackredeem table {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
}
.rarihackredeem table th {
  padding: 3px 10px;
  color: white;
  background: #333;
}
.rarihackredeem table td {
  min-width: 120px;
  padding: 3px 10px;
}
.rarihackredeem table tr.odd td {
  background: rgba(0, 0, 0, 0.05);
}

.rarihackredeem table tr.even td {
  background: rgb(255, 255, 255);
}

.rarihackredeem table tr.oddlast td {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #ccc;
}

.rarihackredeem table tr.evenlast td {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}
.rarihackredeem button {
  color: #fff;
  background-color: #22996e;
  border-color: #22996e;
}
.rarihackredeem button:hover {
  color: #fff;
  background-color: #218460;
  border-color: #218460;
}
.rarihackredeem button:disabled {
  opacity: .6;
  color: #eee;
}
.rarihackredeem button:disabled:hover {
  color: #eee;
  background-color: #22996e;
  border-color: #22996e;
}

.rarihackredeem .fuse-openborrows {
  color: white;
  background: #D32F2F;
  padding: 1em;
  border-radius: 5px;
  max-width: 800px;
}
.rarihackredeem .fuse-openborrows a {
  color: #FFC107;
}

.rarihackredeem .percents-box {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: -8px;
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.rarihackredeem .percents-box .percent {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: #218460;
  overflow: hidden;
  line-height: 15px;
  float: left;
  text-align: center;
}
.rarihackredeem .percents-box .percent:hover {
  opacity: .8;
}
.rarihackredeem .percents-box .percent.active {
  opacity: .8;
}