.rarihackredeem {
  
}
.rarihackredeem table {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}
.rarihackredeem table th {
  padding: 3px 10px;
  color: white;
  background: #333;
}
.rarihackredeem table td {
  min-width: 120px;
  padding: 3px 10px;
}
.rarihackredeem table tr.odd td {
  background: rgba(0, 0, 0, 0.05);
}

.rarihackredeem table tr.even td {
  background: rgb(255, 255, 255);
}

.rarihackredeem table tr.oddlast td {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #ccc;
}

.rarihackredeem table tr.evenlast td {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}