.feiprotocolroles {
  
}
.feiprotocolroles table {
  width: 100%;
  max-width: 600px;
}
.feiprotocolroles table th {
  padding: 3px 10px;
  color: white;
  background: #333;
}
.feiprotocolroles table td {
  padding: 3px 10px;
}
.feiprotocolroles table tr.odd td {
  background: rgba(0, 0, 0, 0.05);
}