.timelock {
  
}
.timelock .roles .address {
  border: 1px solid #007bff;
  color: #007bff;
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 3px;
  font-family: monospace;
  white-space: nowrap;
}
.timelock .roles .address:hover {
  text-decoration:none;
}
.timelock .transactions {
  
}
.timelock .transactions .transaction {
  border-top: 1px solid #ccc;
  font-family: monospace;
  font-size: 12px;
}
.timelock .transactions .transaction.pending {
  background: #f9fdb9;
}
.timelock .transactions .transaction .date {
  float: right;
}
.timelock .transactions .transaction .fn {
  font-weight: bold;
  background: #f0f0f0;
}
.timelock .transactions .transaction .args td {
  vertical-align: top;
}
